<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>

    <script type="text/javascript" src="/js/jquery.min.js"></script>

    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/mycenter.css">
    <script>
        function delfoo(aid){
            layer.confirm('你确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.msg('删除', { icon: 1 });
                location.href = "./del/"+aid;
                
                // $.ajax({
                //     url:"/del/"+aid,
                //     method:"get",
                //     success:(res)=>{
                //         window.location.href="/mycenter";
                //         console.log(res);
                //     },
                //     error:(msg)=>{
                //         console.log(msg);
                //     }  
                // })

            }, function () {
                layer.msg('已取消', { icon: 1 });
            });
        }
    </script>
</head>

<body>

    {{include './header.html' $islogin}}

    <!-- 主体 -->
    <div class="container">

        <div class="top">
            <div class="user">
                <img src="/images/touxiang.png" alt="">
                <p>{{userinfo.uname}}</p>
            </div>
            <div class="tabtitle">
                <p class='cur'>文章({{arts.length}})</p>
                <p>收藏({{collarts.length}})</p>
                <p>资料设置</p>
            </div>
        </div>

        <div class="tab">
            <div class="articles" style="display:block;">
                <ul>
                    {{each arts}}
                    <li>
                        <a href="/news/{{$value.id}}" target="_blank" class="title">{{$value.title}}</a>
                        <div class="r">
                            <a href="/edit/{{$value.id}}" class="btn edit">编辑</a>
                            <a href="javascript:void(0)" class="btn del" onclick="delfoo('{{$value.id}}')">删除</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <!-- 收藏 -->
            <div class="collections">
                <ul>
                    {{each collarts}}
                    <li>
                        <img src="{{$value.thumb}}">
                        <h3><a href="/news/{{$value.id}}" target="_blank">{{$value.title}}</a></h3>
                        <p class="desc">{{$value.content}}</p>
                        <p class="bot">
                            <i class="iconfont icon-zan"></i>
                            6666
                        </p>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- 收藏结束 -->

            <!-- 资料设置 -->
            <div class="userinfo" style="display:none;">
                <form action="">
                    <table>
                        <tr>
                            <td>用户名:</td>
                            <td><input type="text" value=""></td>
                        </tr>
                        <tr>
                            <td>头像:</td>
                            <td><input type="file"></td>
                        </tr>
                    </table>
                    <input type="submit" value="更新个人资料">
                </form>
            </div>
            <!-- 资料设置结束 -->

        </div>

    </div>
    <!-- 主体结束 -->

    <script src="./js/mycenter.js"></script>

    {{include './footer.html'}}

</body>

</html>